header{
        h1{
        color: #f7b95e;
        font-family: whitenice;
        font-size: 40px;
        font-weight: 100;
        margin-left: 20px;
    }
    .gif{
        height: 40vh;
        width: 90vw;
    }
    .gifgif{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}