*{
    margin: 1;
    padding: 1;
}

@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');

@font-face {
    font-family: whitenice;
    src: url(../font/Whitenice.ttf);
}

@font-face {
    font-family: mulish;
    src: url(../font/Mulish-VariableFont_wght.ttf);
}

body {
background-color: #ebe9e4;
font-family: Arial, Helvetica, sans-serif;
}

.home{
    color: #333333;
    font-size: 30px;
    font-weight: 5000;
}

h1{
    color: #f7b95e;
    font-family: whitenice;
    font-size: 40px;
    font-weight: 100;
    position: absolute;
    top: 5px;
    left: 20px;
}

h2{
    color: #f7b95e;
    font-size: 20px;
    font-weight: 5000;
    text-transform: uppercase;
    font-family: mulish;
    position: relative;
    top: 30px;
    margin: 0 2rem;
}

h3{
    color: #333333;
    font-size: 35px;
    font-family: whitenice;
    font-weight: 100;

}

h4{
    color: #9b9998;
    font-family: mulish;
    font-size: 15px;
}

li{
    list-style: none;
    font-size: 15px;
    color: #9b9998;
    font-family: mulish;
}

.logo{
    height: 60px;
    width: 200px;
    position: absolute;
    top: 10px;
}

.gif{
    height: 40vh;
    width: 90vw;
}

.rrss{
    height: 50px;
    width: 50px;
    border-radius: 1000px;
}

.soy{
    height: 25rem;
    width: 25rem;
}

.flowers{
    width: 100%;
    max-width: 270px;
}

.capitan{
    height: 270px;
    width: 270px;
}

.capitanilu{
    height: 270px;
    width: 270px;
}

.polaroiduno{ 
    height: 350px;
    width: 350px;
}

.polaroiddos{
    height: 200px;
    width: 200px;
}


p{
    font-size: 15px;
    font-family: mulish;
    color: #333333;
    text-align: justify;
}

button{
    font-family: whitenice;
    font-size: 20px;
    justify-items: center;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    border-color: #f7b95e;
    background-color: #f7b95e;
    color: #ebe9e4;
}


.navegacion{
    display: flex;
    justify-content: right;
    list-style: none;
    padding: 0;
    margin: 0;
}
.navegacion li{
    margin: 3rem 1rem;
}

.navegacion a{
    color: #9b9998;
    text-decoration: none;
    padding: 10px 10px;
    position: relative;
    top: 10px;
}

.gifgif{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.carrusel{
    display: flex;
    justify-content: center;
}

.derechos{
    display: flex;
    justify-content: left;
    position: relative;
    top: 50px;
}

.redes{
    display: flex;
    justify-content: right;
}

.studio{
    display: grid;
    grid-template-areas: 
    "titulo titulo titulo"
    "hola hola quees"
    "hola hola textmak"
    "hola hola textmak"
    ;
}

.quees{
    grid-area: quees;
    justify-items: start;
    position: relative;
    left: 10px;
    top: 60px;
}

.textmak{
    display: inline-block;
    width: 40vw;
    height: 40vh;
    background-color: none;
    margin:0 10px;
    grid-area: textmak;
    justify-items: center;
    position: relative;
    top: 50px;
}

.titulo{
    grid-area: titulo;
    justify-items: left;
}

.hola{
    grid-area: hola;
    justify-items: center;
    position: relative;
    top: 50px;
    margin: 0 3rem;
}

.mainflow{
    display: grid;
    grid-template-areas: 
    "tflow tflow tflow"
    "imgflow imgflow imgflow"
    "texflow texflow texflow"
    "tcap tcap tcap"
    "imgcap imgcap imgcap"
    "texcap texcap texcap"
    ;
    justify-content: space-around;
}
.tflow{
    grid-area: tflow;
    justify-items: start;
    margin: 0 8rem;
}
.imgflow{
    grid-area: imgflow;
    justify-items: center;
}

.texflow{
    display: inline-block;
    justify-items: center;
    width: 75vw;
    height: 5vh;
    background-color: none;
    margin: 0 10rem;
    grid-area: texflow;
}

.tcap{
    grid-area: tcap;
    margin: 0 8rem;
}

.imgcap{
    grid-area: imgcap;
    justify-items: center;
}

.texcap{
    display: inline-block;
    width: 75vw;
    height: 10vh;
    background-color: none;
    margin: 0 10rem;
    grid-area: texcap;
    justify-items: center;
}

.mainpolaroid{
    display: grid;
    grid-template-areas: 
    "tpolaroid tpolaroid tpolaroid"
    "imggral imgpolaroid imgpolaroid"
    "imggral texpolaroid texpolaroid"
    ;
}

.tpolaroid{
    grid-area: tpolaroid;
    margin: 2rem 5rem;
}

.imggral{
    grid-area: imggral;
    justify-content: center;
    margin: 20px 90px;
}

.imgpolaroid{
    grid-area: imgpolaroid;
    justify-content: center;
    margin: 0 80px;
}

.texpolaroid{
    grid-area: texpolaroid;
    display: inline-block;
    width: 45vw;
    height: 1vh;
    background-color: none;
    margin: -50px 80px;
}
.maincontacto{
    display: grid;
    grid-template-areas: 
    "hablemos contame"
    "texhableuno nombre"
    "completa email"
    "none mensaje"
    ;
}


.hablemos{
    grid-area: hablemos;
    justify-items: center;
    color: #f7b95e;
    font-size: 50px;
    margin: 0 10rem;
    margin-top: 10%;
}

.texhableuno{
    grid-area: texhableuno;
    justify-items: center;
    width: 30vw;
    height: 7vh;
    margin: 0 10rem;
}

.completa{
    grid-area: completa;
    justify-items: center;
    width: 30vw;
    height: 15vh;
    margin: -5rem 10rem;
}

.contame{
    grid-area: contame;
    justify-content: center;
}
.idea{
    grid-area: contame;
    justify-items: center;
    color: #9b9998;
    font-size: 50px;
    margin: 0 5rem;
    margin-top: 10%;
}

.nombre{
    grid-area: nombre;
    justify-items: center;
    margin: 1rem 5rem;
}
.email{
    grid-area: email;
    justify-items: center;
    margin: 1rem 5rem;
}

.mensaje{
    grid-area: mensaje;
    justify-items: center;
    margin: 1rem 5rem;
}

.boton{
    grid-area: boton;
    justify-items: center;
    margin-top: 20px;
    margin: 1rem 7rem;
}


